@page "/products"
@using System.Collections.Generic
@using System.Linq
@using Blazored.WebShop.Application.UseCases.SearchProduct.Interfaces
@using Blazored.WebShop.Core.Business.Models

@inject ISearchProduct SearchProduct

<h3>SearchProductsComponent</h3>
<br />
<SearchBarComponent OnSearch="HandleSearch"></SearchBarComponent>

<div class="container">
    <div class="row align-items-start">
        @if (_products != null && _products.Any())
        {
            <div class="card-group">
                @foreach (var product in _products)
                {
                    <ProductItemComponent Product="product"></ProductItemComponent>
                }
            </div>
        }
        else
        {
            <h5 class="align-middle">No products was found.</h5>
        }
    </div>
</div>

@code {
    private IEnumerable<Product> _products;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _products = SearchProduct.Execute();
    }

    private void HandleSearch(string filter)
    {
        _products = SearchProduct.Execute(filter);
    }

}