@using Blazored.WebShop.Client.CustomerPortal.Features

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Blazored WebShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100">
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders-in-progress">Outstanding Orders </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders-completed">Processed Orders </a>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products </a>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
            
            <li class="nav-item mr-auto">
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="nav-link mr-auto" href="/logout">
                            Sign Out
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-link mr-auto" href="cart">
                            <CartComponent></CartComponent>
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </li>
        </ul>
    </div>
</nav>