
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <input type="text" class="form-control" placeholder="Search..."
                   @bind-value="@SearchTerm" @bind-value:event="oninput"
                   @onkeyup="HandleSearch" />
        </div>
    </div>
</div>
<br />