@page "/PlaceOrder"

<h3>Placing Your Order</h3>

@if (_order != null)
{
<div class="row">
    <div class="col">
        @* Customer Information *@
        <CustomerFormComponent OnCustomerInfoSubmitted="HandleCustomerInfoSubmitted"></CustomerFormComponent>
    </div>
    <div class="col">
        @* Display Order Summary *@
        <OrderSummaryComponent Order="_order" HidePlaceOrderButton="true"></OrderSummaryComponent>
    </div>
</div>
}