@using System.Linq

@page "/"
@page "/products"

<h3>SearchProductsComponent</h3>
<br />
<SearchBarComponent OnSearch="HandleSearch" />

@if (_products != null && _products.Any())
{
    <div class="container-fluid">
        <div class="row">
            <div class="card-deck">
                @foreach (var product in _products)
                {
                    <div class="col">
                        <ProductCardComponent Product="product" />
                    </div>
                }
            </div>
        </div>
    </div>


}
else
{
    <h5 class="align-middle">No products was found.</h5>
}