@using System.Linq

@page "/"
@page "/products"

<h3>SearchProductsComponent</h3>
<br />
<SearchBarComponent OnSearch="HandleSearch"></SearchBarComponent>

<div class="container">
    <div class="row align-items-start">
        @if (_products != null && _products.Any())
        {
            <div class="card-group">
                @foreach (var product in _products)
                {
                    <ProductItemComponent Product="product"></ProductItemComponent>
                }
            </div>
        }
        else
        {
            <h5 class="align-middle">No products was found.</h5>
        }
    </div>
</div>