@page "/cart"

<h3>ShoppingCartComponent</h3>
<br/>
@if (_order != null && _order.OrderLineItems.Any() && _order.OrderLineItems != null)
{
    <div class="row">
        <div class="col-6">
            @* Display OrderLines *@
            <ul>
                @for (var i = 0; i < _order.OrderLineItems.Count; i++)
                {
                    <OrderLineItemComponent OrderLineItem="_order.OrderLineItems[i]" />

                    @if (i < _order.OrderLineItems.Count - 1)
                    {
                        <li style="list-style: none;">
                            <hr />
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col">
            @* Display Order Summary *@
            <OrderSummaryComponent Order="_order"/>
        </div>
    </div>
}
else
{
    <h5>Shopping Cart is Empty. Did you add any products to the shopping cart?</h5>
}
