USE [master]
GO
/****** Object:  Database [BlazoredWebShop]    Script Date: 03-07-2021 00:54:02 ******/
CREATE DATABASE [BlazoredWebShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlazoredWebShop', FILENAME = N'C:\Programmer\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BlazoredWebShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BlazoredWebShop_log', FILENAME = N'C:\Programmer\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BlazoredWebShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlazoredWebShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlazoredWebShop]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 03-07-2021 00:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderPlacedOn] [datetime] NULL,
	[OrderReceivedOn] [datetime] NULL,
	[OrderFinishedOn] [datetime] NULL,
	[CustomerName] [nvarchar](150) NULL,
	[CustomerAddress] [nvarchar](150) NULL,
	[CustomerCity] [nvarchar](50) NULL,
	[CustomerStateProvince] [nvarchar](50) NULL,
	[CustomerCountry] [nvarchar](50) NULL,
	[AdminUser] [nvarchar](150) NULL,
	[UniqueId] [nvarchar](100) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLineItem]    Script Date: 03-07-2021 00:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLineItem](
	[LineItemId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_OrderLineItem] PRIMARY KEY CLUSTERED 
(
	[LineItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 03-07-2021 00:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] NOT NULL,
	[Brand] [nvarchar](150) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Price] [float] NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Description] [nvarchar](1500) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
